interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/aquiveal/rune
  response:
    body:
      string: '{"id":1134114402,"node_id":"R_kgDOQ5k2Yg","name":"rune","full_name":"aquiveal/rune","private":false,"owner":{"login":"aquiveal","id":34374286,"node_id":"MDQ6VXNlcjM0Mzc0Mjg2","avatar_url":"https://avatars.githubusercontent.com/u/34374286?v=4","gravatar_id":"","url":"https://api.github.com/users/aquiveal","html_url":"https://github.com/aquiveal","followers_url":"https://api.github.com/users/aquiveal/followers","following_url":"https://api.github.com/users/aquiveal/following{/other_user}","gists_url":"https://api.github.com/users/aquiveal/gists{/gist_id}","starred_url":"https://api.github.com/users/aquiveal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aquiveal/subscriptions","organizations_url":"https://api.github.com/users/aquiveal/orgs","repos_url":"https://api.github.com/users/aquiveal/repos","events_url":"https://api.github.com/users/aquiveal/events{/privacy}","received_events_url":"https://api.github.com/users/aquiveal/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/aquiveal/rune","description":null,"fork":false,"url":"https://api.github.com/repos/aquiveal/rune","forks_url":"https://api.github.com/repos/aquiveal/rune/forks","keys_url":"https://api.github.com/repos/aquiveal/rune/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aquiveal/rune/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aquiveal/rune/teams","hooks_url":"https://api.github.com/repos/aquiveal/rune/hooks","issue_events_url":"https://api.github.com/repos/aquiveal/rune/issues/events{/number}","events_url":"https://api.github.com/repos/aquiveal/rune/events","assignees_url":"https://api.github.com/repos/aquiveal/rune/assignees{/user}","branches_url":"https://api.github.com/repos/aquiveal/rune/branches{/branch}","tags_url":"https://api.github.com/repos/aquiveal/rune/tags","blobs_url":"https://api.github.com/repos/aquiveal/rune/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aquiveal/rune/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aquiveal/rune/git/refs{/sha}","trees_url":"https://api.github.com/repos/aquiveal/rune/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aquiveal/rune/statuses/{sha}","languages_url":"https://api.github.com/repos/aquiveal/rune/languages","stargazers_url":"https://api.github.com/repos/aquiveal/rune/stargazers","contributors_url":"https://api.github.com/repos/aquiveal/rune/contributors","subscribers_url":"https://api.github.com/repos/aquiveal/rune/subscribers","subscription_url":"https://api.github.com/repos/aquiveal/rune/subscription","commits_url":"https://api.github.com/repos/aquiveal/rune/commits{/sha}","git_commits_url":"https://api.github.com/repos/aquiveal/rune/git/commits{/sha}","comments_url":"https://api.github.com/repos/aquiveal/rune/comments{/number}","issue_comment_url":"https://api.github.com/repos/aquiveal/rune/issues/comments{/number}","contents_url":"https://api.github.com/repos/aquiveal/rune/contents/{+path}","compare_url":"https://api.github.com/repos/aquiveal/rune/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aquiveal/rune/merges","archive_url":"https://api.github.com/repos/aquiveal/rune/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aquiveal/rune/downloads","issues_url":"https://api.github.com/repos/aquiveal/rune/issues{/number}","pulls_url":"https://api.github.com/repos/aquiveal/rune/pulls{/number}","milestones_url":"https://api.github.com/repos/aquiveal/rune/milestones{/number}","notifications_url":"https://api.github.com/repos/aquiveal/rune/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aquiveal/rune/labels{/name}","releases_url":"https://api.github.com/repos/aquiveal/rune/releases{/id}","deployments_url":"https://api.github.com/repos/aquiveal/rune/deployments","created_at":"2026-01-14T09:14:25Z","updated_at":"2026-06-21T07:26:27Z","pushed_at":"2026-06-21T07:26:23Z","git_url":"git://github.com/aquiveal/rune.git","ssh_url":"git@github.com:aquiveal/rune.git","clone_url":"https://github.com/aquiveal/rune.git","svn_url":"https://github.com/aquiveal/rune","homepage":null,"size":4243,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"22700efb4600eb4e9fe9a0485c64293aa63326d87f9475d8de5626e5ad602037"
      Last-Modified:
      - Sun, 21 Jun 2026 07:26:27 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '59'
      X-RateLimit-Reset:
      - '1782216379'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
